.SiteTitle {
    color: #0;
    font-family: Verdana,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.FaostatForm {
    background-color: #DCE3F2;
    border-color: #8AA3D4;
    border-style: solid;
    border-width: 1px;
    color: #333333;
    margin: 0;
    max-width: 968px;
    padding: 0;
    width: 968px;
}
Table {
    border-style: none;
    font-size: 10pt;
    height: inherit;
}

.ContentPane {
    border-color: -moz-use-text-color;
    border-right: medium none;
    border-style: none;
    border-width: medium;
    margin: 0;
    padding: 10px 10px 0;
}
.FirstRow
{
background-color:blue;
color:white;
}
.arrow-up {
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	
	border-bottom: 5px solid black;
}

.arrow-down {
	width: 0; 
	height: 0; 
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	
	border-top: 20px solid #f00;
}

.arrow-right {
	width: 0; 
	height: 0; 
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	
	border-left: 10px solid green;
}

.arrow-left {
	width: 0; 
	height: 0; 
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent; 
	
	border-right:10px solid blue; 
}